SearchCal/sclws/include/sclws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="sclws"
 targetNamespace="http://jmmc.fr:8079/sclws.wsdl"
 xmlns:tns="http://jmmc.fr:8079/sclws.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:sclws"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:sclws"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:sclws"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation response element -->
  <element name="status" type="xsd:string"/>
  <!-- operation response element -->
  <element name="jobId" type="xsd:string"/>
  <!-- operation request element -->
  <element name="query" type="xsd:string"/>
  <!-- operation response element -->
  <element name="voTable" type="xsd:string"/>
  <!-- operation response element -->
  <element name="isOK" type="xsd:boolean"/>
  <!-- operation response element -->
  <element name="votable" type="xsd:string"/>
 </schema>

</types>

<message name="GetServerStatusSearchCalRequest">
</message>

<message name="GetServerStatusSearchCalResponse">
 <part name="status" element="ns:status"/>
</message>

<message name="GetCalOpenSessionRequest">
</message>

<message name="GetCalOpenSessionResponse">
 <part name="jobId" element="ns:jobId"/>
</message>

<message name="GetCalSearchCalRequest">
 <part name="jobId" element="ns:jobId"/>
 <part name="query" element="ns:query"/>
</message>

<message name="GetCalSearchCalResponse">
 <part name="voTable" element="ns:voTable"/>
</message>

<message name="GetCalQueryStatusRequest">
 <part name="jobId" element="ns:jobId"/>
</message>

<message name="GetCalQueryStatusResponse">
 <part name="status" element="ns:status"/>
</message>

<message name="GetCalCancelSessionRequest">
 <part name="jobId" element="ns:jobId"/>
</message>

<message name="GetCalCancelSessionResponse">
 <part name="isOK" element="ns:isOK"/>
</message>

<message name="GetStarSearchCalRequest">
 <part name="query" element="ns:query"/>
</message>

<message name="GetStarSearchCalResponse">
 <part name="votable" element="ns:votable"/>
</message>

<portType name="sclwsPortType">
 <operation name="GetServerStatusSearchCal">
  <documentation>Service definition of function ns__GetServerStatusSearchCal</documentation>
  <input message="tns:GetServerStatusSearchCalRequest"/>
  <output message="tns:GetServerStatusSearchCalResponse"/>
 </operation>
 <operation name="GetCalOpenSession">
  <documentation>Service definition of function ns__GetCalOpenSession</documentation>
  <input message="tns:GetCalOpenSessionRequest"/>
  <output message="tns:GetCalOpenSessionResponse"/>
 </operation>
 <operation name="GetCalSearchCal">
  <documentation>Service definition of function ns__GetCalSearchCal</documentation>
  <input message="tns:GetCalSearchCalRequest"/>
  <output message="tns:GetCalSearchCalResponse"/>
 </operation>
 <operation name="GetCalQueryStatus">
  <documentation>Service definition of function ns__GetCalQueryStatus</documentation>
  <input message="tns:GetCalQueryStatusRequest"/>
  <output message="tns:GetCalQueryStatusResponse"/>
 </operation>
 <operation name="GetCalCancelSession">
  <documentation>Service definition of function ns__GetCalCancelSession</documentation>
  <input message="tns:GetCalCancelSessionRequest"/>
  <output message="tns:GetCalCancelSessionResponse"/>
 </operation>
 <operation name="GetStarSearchCal">
  <documentation>Service definition of function ns__GetStarSearchCal</documentation>
  <input message="tns:GetStarSearchCalRequest"/>
  <output message="tns:GetStarSearchCalResponse"/>
 </operation>
</portType>

<binding name="sclws" type="tns:sclwsPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="GetServerStatusSearchCal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
 <operation name="GetCalOpenSession">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
 <operation name="GetCalSearchCal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
 <operation name="GetCalQueryStatus">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
 <operation name="GetCalCancelSession">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
 <operation name="GetStarSearchCal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal" namespace="urn:sclws"/>
  </output>
 </operation>
</binding>

<service name="sclws">
 <documentation>gSOAP 2.7.11 generated service definition</documentation>
 <port name="sclws" binding="tns:sclws">
  <SOAP:address location="http://jmmc.fr:8079"/>
 </port>
</service>

</definitions>
